.layout-container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 80px 1fr;
    height: 100vh;

    .header-content {
        grid-area: header;
        background-color: #edfffa;
        color: #fff;
    }

    .sidebar-content {
        grid-area: sidebar;
        background-color: #92d7ee;
    }

    .main-content {
        grid-area: main;
    }

    .full-content {
        grid-area: main;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
}

/* Màn hình lớn hơn 1200px */
@media screen and (min-width: 1200px) {
    .layout-container {}
}

/* Màn hình từ 992px đến 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .layout-container {}
}

/* Màn hình từ 768px đến 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .layout-container {
        display: grid;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 1fr;
    }
}

/* Màn hình đến 767px */
@media screen and (max-width: 767px) {
    .layout-container {
        display: grid;
        grid-template-areas:
            "header"
            "sidebar"
            "main";
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto 1fr;

        .main-content {
            width: 100vw;
            overflow: hidden;
        }
    }
}