.spiner-container {
    height         : 100vh;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 0;
    left           : 0;

    .spiner-text {
        color: #36d7b7;
    }
}