.header-container {
    width          : 100%;
    height         : 100%;
    padding        : 0;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .header-logo {
        width       : 280px;
        padding-left: 12px;

        .img {
            height     : 50px;
            margin-left: 12px
        }

        span {
            margin-left   : 16px;
            color         : #FFC10E;
            font-size     : 20px;
            font-weight   : 600;
            text-transform: uppercase;
        }
    }

    .header-slogan {
        width     : 480px;
        text-align: center;

        span {
            color      : #45C3D2;
            font-size  : 24px;
            font-weight: 400;
        }
    }

    .header-infor {
        width       : auto;
        height      : 100%;
        display     : flex;
        align-items : center;
        gap         : 8px;
        margin-right: 20px;

        img {
            height       : 30px;
            width        : 30px;
            border-radius: 50%;
        }

        span {
            font-size  : 16px;
            font-weight: 400;
            color      : black;

            strong {
                color      : #45C3D2;
                font-weight: 400;
            }
        }

        .header-infor-avatar {
            width        : 60px;
            height       : 60px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width : 100%;
                height: 100%;
            }
        }
    }
}

/* Màn hình lớn hơn 1200px */
@media screen and (min-width: 1200px) {}

/* Màn hình từ 992px đến 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* Màn hình từ 768px đến 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-container {
        justify-content: space-between;
        padding: 0 20px;
        .header-logo {
            height: auto;
            padding: 0;
            width: a;

            span {
                margin: 0;
                font-size: 18px;
            }
        }

        .header-slogan {
            display: none;
        }

        .header-infor {
            margin: 0;
            
            img {
                height: 24px;
            }

            span {
                font-size: 14px;
            }

            .header-infor-avatar {
                width: 50px; 
                height: 50px;
            }
        }
    } 
}