.sidebar-container {
    padding-top: 40px;
    color      : #000;
    font-family: Inter;
    font-size  : 24px;
    font-style : normal;
    font-weight: 500;
    line-height: normal;

    ul {
        list-style: none;
        padding   : 0;

        li {
            padding         : 16px 32px;
            margin-top      : 10px;
            background-color: #D9D9D9;
            cursor          : pointer;
            transition      : background-color 0.3s ease;

            &:hover {
                background-color: #F3D57C;
                animation       : bounce 0.5s ease;
            }

            &.active {
                background-color: #FFC107;
            }
        }

        #logout-section {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
        }
    }

    // Bounce keyframes
    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
        }
    }
}

/* Màn hình lớn hơn 1200px */
@media screen and (min-width: 1200px) {}

/* Màn hình từ 992px đến 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* Màn hình từ 768px đến 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .sidebar-container {
        width: 100%;
        padding: 0;
        height: 80px;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            overflow-y: hidden;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
            margin: 0;

            li {
                padding: 20px 0;
                margin: 0;
            }
        }
    }
}