.login-container {
    height          : 100%;
    display         : flex;
    background-color: white;

    .login-infor {
        width          : 100%;
        height         : 100%;
        flex           : 1;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .login-form {
            width         : 560px;
            height        : auto;
            border-radius : 20px;
            border        : 1px solid;
            display       : flex;
            flex-direction: column;
            align-items   : center;

            .login-form-name {
                margin                 : 32px 0 0;
                font-size              : 50px;
                font-weight            : 400;
                text-transform         : uppercase;
                background             : linear-gradient(90deg, #007BFF 4%, #7CA9D9 65.5%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            span {
                font-size  : 20px;
                color      : #7CA9D9;
                font-weight: 300;
            }

            .login-form-email,
            .login-form-password {
                height         : 60px;
                width          : 500px;
                padding        : 0 10px;
                margin-top     : 40px;
                display        : flex;
                font-size      : 20px;
                font-weight    : 500;
                align-items    : center;
                justify-content: space-between;
                position       : relative;


                input {
                    width        : 320px;
                    height       : 50px;
                    border-radius: 30px;
                    text-align   : center;
                    border       : 1px solid;
                }

                input:focus-visible {
                    outline: none;
                }

                .form-pass-icon {
                    height  : 24px;
                    position: absolute;
                    right   : 12px;
                }
            }

            .login-form-btn {
                width          : 100%;
                display        : flex;
                align-items    : center;
                justify-content: space-evenly;
                margin         : 40px 0;
            }
        }
    }

    .login-img {
        width   : 100%;
        height  : 100%;
        flex    : 1;
        position: relative;

        img {
            height    : 100%;
            width     : 100%;
            object-fit: cover;
            position  : absolute;
        }
    }
}