.user-mana-container {
    width         : 100%;
    height        : 100%;
    display       : flex;
    padding       : 0 40px;
    align-items   : center;
    flex-direction: column;

    .user-name-header {
        margin              : 0;
        font-size           : 32px;
        color               : #FFC107;
        font-weight         : 500;
        padding-top         : 20px;
        font-style          : normal;
        font-family         : Inter;
        line-height         : normal;
        text-transform      : uppercase;
        text-decoration-line: underline;
    }

    .user-header {
        width          : 100%;
        display        : flex;
        margin-top     : 40px;
        align-items    : center;
        justify-content: space-between;

        .user-header-search {
            width   : 500px;
            position: relative;

            .search-input {
                width        : 500px;
                height       : 48px;
                font-size    : 20px;
                text-align   : center;
                background   : #FFF;
                border-radius: 30px;
                border       : 1px solid #000;
            }

            .search-input:focus-visible {
                outline: none;
            }

            .search-input:focus-visible+.search-icon {
                display: none;
            }

            .search-icon {
                top     : 8px;
                right   : 8px;
                height  : 36px;
                position: absolute;
            }
        }

        .btn {
            display    : flex;
            font-weight: 500;
            align-items: center;

            img {
                margin-left: 4px;
            }
        }
    }

    .user-mana-body {
        width     : 100%;
        margin-top: 52px;

        .pagination {
            margin-top: 20px;
        }

        table {
            width: 100%;
        }

        table,
        th,
        td {
            padding        : 10px 0;
            border         : 1px solid #B9B9B9;
            border-collapse: collapse;
            text-align     : center;
            font-size      : 16px;
            color          : #000;
            font-weight    : 400;
        }

        th {
            background-color: #EDFFFA;
            color           : #FFC107;

            .desc-icon,
            .asc-icon {
                cursor     : pointer;
                margin-left: 5px;
                width      : 24px;
                height     : 24px;
            }
        }

        .detail-icon,
        .delete-icon {
            background-color: white;
            border          : none;
            cursor          : pointer;

            img {
                height: 30px;
            }
        }
    }
}

/* Màn hình đến 767px */
@media screen and (max-width: 767px) {
    .user-mana-container {
        padding: 0;

        .user-name-header {
            font-size: 24px;
        }

        .user-header {
            margin-top: 12px;

            .user-header-search {
                max-width: 260px;

                .search-input {
                    max-width   : 260px;
                    text-align  : start;
                    padding-left: 8px;
                }
            }

            button {
                height   : 48px;
                max-width: 120px;
            }
        }

        .user-mana-body {
            margin-top: 12px;
            width     : 100%;

            .mana-body-table {
                width     : 100%;
                overflow-y: hidden;

                table {
                    width      : 100%;
                    overflow   : scroll;
                    white-space: nowrap;
                }

                td,
                th {
                    padding    : 0 4px;
                    overflow   : hidden;
                    text-align : center;
                    white-space: nowrap;
                }
            }
        }
    }
}