.user-mana-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 40px;
    align-items: center;
    flex-direction: column;
    
    .user-name-header {
        margin: 0;
        font-size: 32px;
        color: #FFC107;
        font-weight: 500;
        padding-top: 20px;
        font-style: normal;
        font-family: Inter;
        line-height: normal;
        text-transform: uppercase;
        text-decoration-line: underline;
    }

    .user-header {
        width: 100%;
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;

        .user-header-search {
            width: 500px;
            position: relative;

            .search-input {
                width: 500px;
                height: 48px;
                font-size: 20px;
                text-align: center;
                background: #FFF;
                border-radius: 30px;
                border: 1px solid #000;
            }
    
            .search-input:focus-visible {
                outline: none;
            }
    
            .search-input:focus-visible + .search-icon {
                display: none;
            }
    
            .search-icon {
                top: 8px;
                right: 8px;
                height: 36px;
                position: absolute;
            }
        }

        .btn {
            display: flex;
            font-weight: 500;
            align-items: center;

            img {
                margin-left: 4px;
            }
        }
    }

    .user-mana-body {
        width: 100%;
        margin-top: 52px;

        table {
            width: 100%;
        }

        table, th, td {
            border:1px solid #B9B9B9;
            border-collapse: collapse;
            text-align: center;
            font-size: 16px;
            color: #000;
            font-weight: 400;
        }

        th {
            background-color: #EDFFFA;
            color: #FFC107;
        }

        td:hover {
            cursor: pointer;
        }

        .edit-icon, .detele-icon {
            background-color: white;
            border: none;

            img {
                height: 30px;
            }
        }
    }
}